*{
    background-color: beige;
}
#p{
    align-items: center;
    margin-top: 200px;
    text-align: center;
}
#p::first-letter{
    font-size: 40px;
    color: red;
    font-style: bold;
    text-transform: capitalize;
}
#p::first-line{
    color: blue;
    font-style: italic;
    font-size: 15px;
}
h2{
    color: cadetblue;
    text-align: center;
    font-size: 60px;
}